HR_Management_System/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52793/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52793/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52793/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_addEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:addEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_addEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:addEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_updateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_updateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_deleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_deleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_totalEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:totalEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_totalEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:totalEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_addProject_InputMessage">
    <wsdl:part name="parameters" element="tns:addProject" />
  </wsdl:message>
  <wsdl:message name="IService_addProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:addProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_updateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProject" />
  </wsdl:message>
  <wsdl:message name="IService_updateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_deleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteProject" />
  </wsdl:message>
  <wsdl:message name="IService_deleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_setLeaveStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:setLeaveStatus" />
  </wsdl:message>
  <wsdl:message name="IService_setLeaveStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:setLeaveStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService_applyLeave_InputMessage">
    <wsdl:part name="parameters" element="tns:applyLeave" />
  </wsdl:message>
  <wsdl:message name="IService_applyLeave_OutputMessage">
    <wsdl:part name="parameters" element="tns:applyLeaveResponse" />
  </wsdl:message>
  <wsdl:message name="IService_loginEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:loginEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_loginEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_showDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:showDetails" />
  </wsdl:message>
  <wsdl:message name="IService_showDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:showDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="addEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addEmployee" message="tns:IService_addEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addEmployeeResponse" message="tns:IService_addEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/updateEmployee" message="tns:IService_updateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/updateEmployeeResponse" message="tns:IService_updateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/deleteEmployee" message="tns:IService_deleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/deleteEmployeeResponse" message="tns:IService_deleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="totalEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/totalEmployee" message="tns:IService_totalEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/totalEmployeeResponse" message="tns:IService_totalEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addProject" message="tns:IService_addProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addProjectResponse" message="tns:IService_addProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/updateProject" message="tns:IService_updateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/updateProjectResponse" message="tns:IService_updateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/deleteProject" message="tns:IService_deleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/deleteProjectResponse" message="tns:IService_deleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setLeaveStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/setLeaveStatus" message="tns:IService_setLeaveStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/setLeaveStatusResponse" message="tns:IService_setLeaveStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="applyLeave">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/applyLeave" message="tns:IService_applyLeave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/applyLeaveResponse" message="tns:IService_applyLeave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/loginEmployee" message="tns:IService_loginEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/loginEmployeeResponse" message="tns:IService_loginEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/showDetails" message="tns:IService_showDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/showDetailsResponse" message="tns:IService_showDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/addEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/updateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/deleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/totalEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProject">
      <soap:operation soapAction="http://tempuri.org/IService/addProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProject">
      <soap:operation soapAction="http://tempuri.org/IService/updateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProject">
      <soap:operation soapAction="http://tempuri.org/IService/deleteProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLeaveStatus">
      <soap:operation soapAction="http://tempuri.org/IService/setLeaveStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="applyLeave">
      <soap:operation soapAction="http://tempuri.org/IService/applyLeave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/loginEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showDetails">
      <soap:operation soapAction="http://tempuri.org/IService/showDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52793/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>